<div id="<%= dom_id board %>">
  <p>
    <strong>Email:</strong>
    <%= board.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= board.length %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= board.width %>
  </p>

  <p>
    <strong>Mines:</strong>
    <%= board.mines %>
  </p>

</div>
