<%= form_with(model: board) do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email, class: "control-label"%>
    <%= form.email_field :email, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :length, style: "display: block" %>
    <%= form.number_field :length, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :width, style: "display: block" %>
    <%= form.number_field :width, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mines, style: "display: block" %>
    <%= form.number_field :mines, class: "form-control" %>
  </div>

  <div class="form-group mt-2">
    <%= form.submit class: "btn btn-success", value: "Generate Board" %>
  </div>
<% end %>
